export(augmentation)
export(mutoss.augmentation)
export(compareMutoss)
export(mu.compare.adjusted)
export(mu.compare.critical)
export(mu.compare.summary)
export(fisher23.model)
export(mutoss.fisher23.model)
export(fisher23.marginal)
export(fisher23_fast)
export(fisher22.model)
export(mutoss.fisher22.model)
export(fisher22.marginal)
export(fisher22_fast)
export(gao)
export(requireLibrary)
export(startRecording)
export(stopRecording)
export(myContrMat)
export(hommel)
export(mutoss.hommel)
export(oracleBH)
export(mutoss.oracleBH)
export(Qvalue)
export(mutoss.Qvalue)
export(BlaRoq)
export(mutoss.BlaRoq)
export(pval2qval)
export(pval2locfdr)
export(linearStepUp)
export(two.stage)
export(mutoss.two.stage)
export(multiple.down.adjust)
export(multiple.down)
export(mutoss.multiple.down)
export(multcomp.wrapper)
export(mutoss.multcomp)
export(onesamp.model)
export(mutoss.onesamp.model)
export(onesamp.marginal)
export(mutoss.onesamp.marginal.model)
export(mutoss.onesamp.marginal)
export(onesamp.multtest)
export(mutoss.onesamp.multtest.model)
export(mutoss.onesamp.multtest)
export(paired.model)
export(mutoss.paired.model)
export(paired.marginal)
export(mutoss.paired.marginal)
export(mutoss.paired.marginal.model)
export(paired.multtest)
export(mutoss.paired.multtest.model)
export(mutoss.paired.multtest)
export(twosamp.model)
export(mutoss.twosamp.model)
export(twosamp.marginal)
export(mutoss.twosamp.marginal.model)
export(mutoss.twosamp.marginal)
export(twosamp.multtest)
export(mutoss.twosamp.multtest.model)
export(mutoss.twosamp.multtest)
export(ftest.model)
export(mutoss.ftest.model)
export(ftest.marginal)
export(mutoss.ftest.marginal)
export(mutoss.ftest.marginal.model)
export(ftest.multtest)
export(mutoss.ftest.multtest)
export(mutoss.ftest.multtest.model)
export(mutoss.apply)
exportClasses(ErrorControl)
exportClasses(Mutoss)
export(mutoss.plotCI)
exportClasses(MutossSim)
export(gatherParameters)
export(gatherStatistics)
export(simulation)
export(nparcomp)
export(weightMatrix)
export(nparcomp.wrapper)
export(mutoss.nparcomp)
export(storey_pi0_est)
export(mutoss.storey_pi0_est)
export(ABH_pi0_est)
export(mutoss.ABH_pi0_est)
export(TSBKY_pi0_est)
export(mutoss.TSBKY_pi0_est)
export(BR_pi0_est)
export(mutoss.BR_pi0_est)
export(ranktruncated)
export(regwq)
export(mutoss.regwq)
export(snk)
export(mutoss.snk)
export(printRejected)
export(rom)
export(mutoss.rom)
export(holm)
export(mutoss.holm)
export(calculateBetaAdjustment)
export(aorc)
export(mutoss.aorc)
export(BL)
export(mutoss.BL)
export(BH)
export(mutoss.BH)
export(BY)
export(mutoss.BY)
export(hochberg)
export(mutoss.hochberg)
export(adaptiveBH)
export(mutoss.adaptiveBH)
export(adaptiveSTS)
export(mutoss.adaptiveSTS)
export(SidakSD)
export(mutoss.SidakSD)
export(indepBR)
export(mutoss.indepBR)
export(twostageBR)
export(mutoss.twostageBR)
export(SUD)
export(SD)
export(SU)
export(pValuesPlot)
export(adjPValuesPlot)
export(tukey.wrapper)
export(mutoss.tukey)
export(bonferroni)
export(mutoss.bonferroni)
export(sidak)
export(mutoss.sidak)
