import(rJava)
import(JGR)
importFrom(CommonJavaJars, loadJars)
import(mutoss)
importFrom(multcomp, contrMat)
importFrom(plotrix, plotCI)
importFrom(JavaGD, JavaGD)

export("mutossGUI")
export("reportBug")
